/* Desktop */
@media (min-width: 1280px) {
    #about {
        margin-top: 10vh;
        padding: 0 10vw;
        position: relative;
        text-align: center;
    }

    #about h1 {
        font-family: "Averia Serif Libre", serif !important;
        font-size: 5rem;
        font-weight: 300;
        line-height: 8rem;
        margin-top: 150px;
    }

    #about h2 {
        font-family: "Averia Serif Libre", serif !important;
        font-size: 3rem;
        font-weight: 300;
        line-height: 8rem;
        font-style: italic;
    }

    #work-title {
        margin-top: 10vh;
        margin-left: 0;
        text-align: center;
    }

    #about h3 {
        font-family: "Averia Serif Libre", serif !important;
        font-size: 2rem;
        font-weight: 300;
        margin: 5vh 0 1rem 0;
        line-height: 3rem;
        text-align: center;
    }

    #about h3 span {
        font-style: italic;
    }

    #about p {
        font-family: "Lora", serif;
        font-size: 1.5rem;
        line-height: 1.8em;
        margin: 0 5vw;
    }

    #about p span {
        font-style: italic;
        color: var(--color-yellow);
    }

    .get-in-touch-section form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .get-in-touch-section form input,
    textarea {
        width: 300px;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
    }

    .get-in-touch-section form textarea {
        height: 300px;
    }

    .get-in-touch-section form div label {
        width: 200px;
        margin-right: 2rem;
        text-align: start;
    }

    .get-in-touch-section form div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    #submit-button {
        width: 100px;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
    }


    .work-banner {
        background-color: rgba(200, 193, 111, 0.437);
        overflow: hidden;
        width: 100vw;
        height: 80px;
        position: absolute;
        left: 0;
        top: 90vh;
        font-size: 2rem;
    }

    .work-banner ul {
        display: flex;
        gap: 3rem;
        width: max-content;
        animation: scroll-left 45s linear infinite;
        padding: 1rem 0;
    }

    .work-banner ul li {
        list-style: none;
        white-space: nowrap;
        text-transform: lowercase;
        font-style: italic;
        color: var(--color-yellow);
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
        padding-bottom: 5vh;
    }

    .socials ul li {
        font-size: 1.5rem;
        margin: 2rem 0;
    }


    @keyframes scroll-left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}