.scroll-video-section {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -999;
    top: 0;
  }
  
  .scroll-video-section video {
    width: 100vw;
    height: auto;
    object-fit: contain;
  }
  