/* Horizontal Landscape */
@media (orientation: landscape) and (min-width: 568px) {
    #home {
        position: relative;
        margin: 0;
    }

    .background-video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }

    #landing-section {
        height: 80vh;
        padding-top: 0;
        position: relative;
        background-color: #384461;
    }

    #home h1 {
        font-family: "Averia Serif Libre", serif;
        font-size: 3rem;
        margin-left: 4rem;
        text-align: center;
    }

    #home h2 {
        font-family: "Averia Serif Libre", serif;
        font-size: 2rem;
        text-align: center;
    }

    #home p {
        font-family: "Averia Serif Libre", serif;
        font-size: 1.5rem;
        text-align: center;
    }

    #home span {
        font-family: "Averia Serif Libre", serif;
        font-size: 1.5rem;
        text-align: center;
    }

    #slogan {
        position: relative;
        font-size: 2rem;
        font-weight: 50;
    }

    #slogan span {
        font-style: italic;
        font-weight: 50;
    }

    #berlin-based {
        font-size: 1.5rem;
        font-weight: lighter;
    }

    #yellow {
        color: var(--color-yellow);
    }

    .center-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        margin: 45vh 15vw 10vh 15vw;

    }

    #lanugage {
        position: absolute;
        left: 0;
        width: 10vw;
        margin: 0 45vw;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
        top: 105vh;
        user-select: none;
        border: 1px solid var(--color-beige);
        border-radius: 50px;
        cursor: pointer;
    }


    #work-section {
        background-color: #090C1F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding-bottom: 15vh;
        overflow: hidden;
    }

    #work-section h2 {
        margin-top: 2rem;
    }

    #poster-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .poster {
        height: 200px;
        margin-bottom: 10vh;
        font-size: 1rem !important;
        width: 70vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .poster img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.35s ease, box-shadow 0.35s ease, opacity 0.35s ease;
    }

    .poster div {
        position: relative;
        width: 40vw;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .poster a {
        cursor: pointer;
    }

    .poster p {
        color: var(--color-yellow);
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0.5rem;
    }

    .sneak-peak img {
        opacity: 1;
    }

    .sneak-peak-banner {
        position: absolute;
    }

    .poster img:hover {
        transform: scale(1.1);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    }

    .sneak-peak img:hover {
        opacity: 0.4;
    }
}