/* General & Mobile */
#home {
    position: relative;
    margin: 0;
}

.background-video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#landing-section {
    height: 70vh;
    padding-top: 30vh;
    position: relative;
    background-color: #384461;
}

#home h1 {
    font-family: "Averia Serif Libre", serif;
    font-size: 2.5rem;
    margin-left: 4rem;
    text-align: center;
}

#home h2 {
    font-family: "Averia Serif Libre", serif;
    font-size: 2rem;
    text-align: center;
}

#home p {
    font-family: "Averia Serif Libre", serif;
    font-size: 1.2rem;
    text-align: center;
}

#home span {
    font-family: "Averia Serif Libre", serif;
    font-size: 1.2rem;
    text-align: center;
}

#slogan {
    position: relative;
    font-size: 2rem;
    font-weight: 50;
}

#slogan span {
    font-style: italic;
    font-weight: 50;
}

#berlin-based {
    font-size: 1.5rem;
    font-weight: lighter;
}

#yellow {
    color: var(--color-yellow);
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 45vh 15vw 10vh 15vw;

}

#lanugage {
    position: absolute;
    left: 0;
    width: 15vw;
    margin: 0 42.75vw;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    top: 105vh;
    user-select: none;
    border: 1px solid var(--color-beige);
    border-radius: 50px;
    cursor: pointer;
}


#work-section {
    background-color: #090C1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding-bottom: 15vh;
    overflow: hidden;
}

#work-section h2 {
    margin-top: 2rem;
}

#poster-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.poster {
    height: 100px;
    margin-bottom: 10vh;
    font-size: 1rem;
    width: 70vw;
}

.poster img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: transform 0.35s ease, box-shadow 0.35s ease, opacity 0.35s ease;
}

.poster div {
    position: relative;
    height: 150px;
    overflow: hidden;
}

.poster a {
    cursor: pointer;
}

.poster p {
    color: var(--color-yellow);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.sneak-peak img {
    opacity: 1;
}

.sneak-peak-banner {
    position: absolute;
}

.poster img:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.sneak-peak img:hover {
    opacity: 0.4;
}