/* Desktop */
@media (min-width: 1280px) {
    nav {
        height: 100px;
    }

    #logo img {
        z-index: -1;
        width: 150px;
        height: 100px;
        object-fit: cover;
    }

    #nav-full-display {
        display: block;
    }

    #nav-full-display ul {
        display: flex;
    }

    #nav-full-display ul li {
        width: calc(50vw/4);
    }

    #nav-full-display .rotate {
        transform: rotate(-180deg);
        transition: transform 0.3s ease-in-out;
    }

    #submenu-open {
        position: absolute;
        background-color: var(--color-beige);
        width: 15vw;
        height: 20vh;
        border-radius: 15px;
        top: 80px;
        left: 45vw;
        z-index: 1;
    }

    #submenu-open ul {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        padding: 0;
        -webkit-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.38);
        overflow: hidden;
        z-index: 1;
    }

    #submenu-open li {
        height: 50%;
        padding: 0 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    #submenu-open li:first-of-type {
        border-bottom: 1px solid var(--color-dark-blue);
    }

    #submenu-open a {
        width: 50%;
        font-size: 1.2rem;
        text-align: center;
        font-family: "Courgette", cursive;
    }


    #submenu-open img {
        height: 100%;
        width: 30%;
        object-fit: cover;
        z-index: 2;
        scale: 1;
    }

    .submenu-close {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 0.5s ease-in-out;
        display: block;
    }
}