/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 768px) {
    .hide-full-nav {
        display: block;
    }

    #logo img {
        margin-left: 4rem;
        width: 130px;
    }

    #menu-bars {
        margin-right: 4rem;
    }

    #page-layout .hidden {
        display: none;
    }

    #nav-full-display {
        display: block;
    }

    #nav-full-display ul {
        display: flex;
    }

    #nav-full-display ul li {
        width: calc(70vw/4);
    }

    #submenu-open {
        position: absolute;
        background-color: var(--color-beige);
        width: 30vw;
        height: 20vh;
        border-radius: 15px;
        top: 120px;
        left: 30vw;
        z-index: 1;
    }

    #submenu-open ul {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        padding: 2rem;
        -webkit-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.38);
        overflow: hidden;
        z-index: 1;
    }

    #submenu-open li {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    #submenu-open li:first-of-type {
        border-bottom: 1px solid var(--color-dark-blue);
    }

    #submenu-open a {
        width: 50%;
        font-size: 2rem;
        font-family: "Courgette", cursive;
    }


    #submenu-open img {
        width: 30%;
        object-fit: cover;
        z-index: 2;
        scale: 2;
    }

    .submenu-close {
        display: none;
    }
}