#article {
    padding-left: 2rem;
    padding-right: 2rem;
}

#article .tag {
    margin-top: 10vh;
    width: 100px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#article .tag div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0.1rem 1rem;
    border: 1px solid var(--color-dark-blue);
}

#article h1 span {
    font-size: 1.2rem;
    font-weight: 300;
}

#article h1 {
    font-size: 1.7rem;
    font-weight: 300;
    width: 70vw;
    margin-bottom: 1rem;
    font-family: "Averia Serif Libre", serif;
}

.seperator {
    background-color: var(--color-dark-blue);
    width: 100%;
    height: 1px;
    margin: 0.5rem 0;
}

#information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#information div:last-child p {
    text-align: end;
}

#article h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: "Averia Serif Libre", serif;
}

.content p {
    margin-bottom: 2rem;
}

.content div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content div p {
    width: 40vw;
}

.content div img {
    width: 40vw;
}

.content .content-img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

#characters-img {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
    margin-left: 6vw;
}

.content a {
    font-style: italic;
    font-weight: 600;
}

#article .ad {
    height: 30vh;
    margin-top: 3rem;
    width: 100vw;
    left: -2rem;
    position: relative;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {
    #article .tag {
        padding-top: 30vh;
    }

    #article .tag div {
        height: fit-content;
    }

    #header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .seperator {
        position: absolute;
        z-index: -1;
    }

    .seperator:first-of-type {
        top: 0.7rem;
    }

    .seperator:last-of-type {
        bottom: 0;
    }

    #header span {
        background-color: var(--color-beige);
        z-index: 3;
        padding-right: 0.5rem;
    }

    #header h1 {
        width: 30% !important;
    }

    #information div {
        width: 18vw;
    }

    #article .ad {
        position: absolute !important;
        top: 0vh !important;
        left: 0;
        height: 100px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw;
    }

    #article .ad button {
        margin: 0;
        width: 20vw;
    }

    .content .content-img {
        width: 30vw;
        margin-left: 35vw;
        height: 70vh;
        object-fit: cover;
    }
}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {
    #article h1 span {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #article h1 {
        font-size: 3rem;
        font-weight: 300;
        width: 100% !important;
        margin-bottom: 1rem;
        font-family: "Averia Serif Libre", serif;
    }

    #article .tag {
        padding-top: 10vh;
    }

    #article .tag div {
        height: fit-content;
    }

    #header {
        position: relative;
    }

    .seperator {
        background-color: var(--color-dark-blue);
        width: 100%;
        height: 1px;
        margin: 0.5rem 0;
    }

    .seperator:last-of-type {
        display: none;
    }

    #information {
        width: 30vw;
        padding-top: 1rem;
    }

    #information div:last-child p {
        text-align: end;
    }

    #article .ad {
        position: absolute !important;
        top: 0vh !important;
        left: 0;
        height: 100px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw;
    }

    #article .ad button {
        margin: 0;
        width: 20vw;
    }

    .content .content-img {
        width: 70vw;
        margin-left: 20vw;
        height: 70vh;
        object-fit: cover;
    }
}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {
    #article h1 span {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #article h1 {
        font-size: 3rem;
        font-weight: 300;
        width: 100% !important;
        margin-bottom: 1rem;
        font-family: "Averia Serif Libre", serif;
    }

    #article .tag {
        padding-top: 12vh;
    }

    #article .tag div {
        height: fit-content;
    }

    #header {
        position: relative;
        display: block;
    }

    .seperator {
        background-color: var(--color-dark-blue);
        width: 100%;
        height: 1px;
        position: relative;
    }

    .seperator:last-of-type {
        display: none;
    }

    #information {
        width: 30vw;
        padding-top: 1rem;
    }

    #information div:last-child p {
        text-align: end;
    }

    #article .ad {
        position: absolute !important;
        top: 0vh !important;
        left: 0;
        height: 100px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw;
    }

    #article .ad button {
        margin: 0;
        width: 20vw;
    }

    .content .content-img {
        width: 40vw;
        margin-left: 30vw;
        height: 70vh;
        object-fit: cover;
    }
}