#request {
    padding: 0 2rem;
    position: relative;
}

#request h1 {
    margin-top: 15vh;
    font-weight: 500;
    font-family: "Averia Serif Libre", serif;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

#request p {
    margin-bottom: 3rem;
}

#request p span {
    font-style: italic;
}

#request form {
    background-color: var(--color-dark-blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    left: -2rem;
    position: relative;
}

#request form input {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    font-family: "Lora", serif;
}

#request form select {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    font-family: "Lora", serif;
}

#request form textarea {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    height: 30vh;
    font-family: "Lora", serif;
}

#submit {
    width: 40vw !important;
    font-family: "Lora", serif;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {
    #request h1 {
        margin-top: 22vh;
    }

    #request form {
        align-items: start;
    }

    #request form select {
        width: 50%;
    }
}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {
    #request {
        padding: 0 4rem;
    }

    #request h1 {
        font-size: 3rem;
    }

    #request p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    #request form {
        padding: 4rem;
        width: 100vw;
        left: -4rem;
        position: relative;
    }
}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {
    #request {
        padding: 0 7rem;
    }

    #request h1 {
        font-size: 3rem;
    }

    #request p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    #request form {
        padding: 4rem;
        width: 100vw;
        left: -7rem;
        position: relative;
    }

    #request form input {
        margin-bottom: 2rem;
    }
    
    #request form select {
        margin-bottom: 2rem;
    }
    
    #request form textarea {
        margin-bottom: 2rem;
    }
    
    #submit {
        width: 20vw !important;
    }
}