#character {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 5vh;
}

#character .tag {
    width: 100px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 0.1rem 1rem;
    border: 1px solid var(--color-dark-blue);
}


#character h1 span {
    font-family: "Courgette", cursive;
}

#character h1 {
    font-weight: 500;
    margin-bottom: 2rem;
    width: 50vw;
}

#published-work {
    font-style: italic;
    font-size: 1.3rem;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
}

#published-work p {
    margin-bottom: 2rem;
    width: 50vw;
}

.hidden-rec {
    display: none;
}

#from {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

#title-img {
    width: 110vw;
    position: absolute;
    right: -250px;
    top: 10vh;
    z-index: -999;
}

#shopping {
    padding: 2rem;
    z-index: 2;
    margin-top: 18vh;
    position: relative;
    padding-bottom: 20vh;
    width: 100vw;
    left: -2rem;
}

#shopping h2 {
    font-weight: 500;
    font-family: "Averia Serif Libre", serif;
}

#products {
    display: flex;
}

.product-card {
    background-color: var(--color-beige);
    width: 150px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    margin: 1rem;
}

.product-card img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 67%;
}

.product-card p {
    font-size: 0.8rem;
}

.product-card p span {
    text-align: end;
}

.hidden {
    display: none;
}

#store-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
}

#store-link p:last-of-type {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#store-link a {
    font-style: italic;
}

#store-link span {
    position: absolute;
    bottom: 0.5rem;
}

#films {
    background-color: var(--color-dark-blue);
    padding: 2rem 2rem 0 2rem;
    width: 100vw;
    left: -2rem;
    position: relative;
}

.recommendation {
    color: var(--color-rosa);
    padding-bottom: 2rem;
    font-family: "Averia Serif Libre", serif;
    font-size: 1.3rem;
}

.recommendation button {
    width: 40%;
    padding: 1rem 0.3rem;
    background-color: var(--color-beige);
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 1rem;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {
    #character h1 span {
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    #character {
        margin-left: 7vw;
        margin-right: 7vw;
        position: relative;
    }

    #published-work p {
        margin-bottom: 1rem;
    }

    #from {
        margin-bottom: 0;
    }

    #title-img {
        width: 50vw;
        position: absolute;
        right: -250px;
        top: 0;
        height: 100vh;
        object-fit: cover;
    }


    #shopping {
        padding: 2rem;
        z-index: 2;
        margin-top: 18vh;
        width: 100vw;
        left: -7vw;
    }

    #shopping h2 {
        width: 100%;
        text-align: center;
    }

    #store-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 40vw;
        margin-left: 10vw;
    }

    #films {
        position: relative;
        width: 100vw;
        left: -7vw;
    }

    .recommendation {
        display: flex;
        justify-content: space-between;
    }

    .recommendation button {
        width: 20vw;
        margin: 0;
    }
}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {
    #character {
        margin-left: 4rem;
        margin-right: 4rem;
        position: relative;
    }

    #character h1 {
        font-size: 3.5rem;
        margin-bottom: 5vh;
        width: 40vw;
    }

    #published-work {
        font-size: 2rem;
    }

    #published-work p {
        margin-bottom: 3rem;
    }

    #from {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #title-img {
        width: 100vw;
        position: absolute;
        right: -600px;
        top: 0;
        height: 80vh;
        object-fit: cover;
        z-index: -999;
    }

    #shopping {
        margin-top: 10vh;
        padding-bottom: 5vh;
        width: 100vw;
        left: -4rem;
        position: relative;
    }

    #shopping h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .hidden {
        display: block;
    }

    #products {
        width: 100%;
    }

    .product-card {
        width: 250px;
        height: 250px;
    }

    .product-card p {
        font-size: 1.2rem;
    }

    #store-link {
        position: relative;
        width: 40vw;
    }

    #store-link p:last-of-type {
        font-size: 1.5rem;
    }

    #films {
        left: -4rem;
        padding: 4rem;
    }

    .recommendation {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vh;
    }

    .recommendation:last-of-type {
        margin-bottom: 0;
    }

    .recommendation button {
        width: 30%;
        font-size: 2rem;
        margin: 0;
    }
}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {
    #character {
        margin-left: 7rem;
        margin-right: 7rem;
        position: relative;
    }

    #character h1 {
        font-size: 3rem;
        margin-bottom: 10vh;
    }

    #character h1 span {
        font-size: 4.5rem;
        padding-left: 1rem;
    }

    #published-work {
        font-size: 2rem;
    }

    #published-work p {
        margin-bottom: 3rem;
    }

    #from {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #title-img {
        width: 80vw;
        position: absolute;
        right: -700px;
        top: 0px;
        height: 100vh;
        object-fit: cover;
        z-index: -999;
    }

    .hidden-rec {
        display: block;
    }

    .rec {
        font-style: normal;
        font-size: 1.5rem;
    }

    .rec a {
        font-style: italic;
    }

    #shopping {
        margin-top: 30vh;
        padding-bottom: 5vh;
        padding: 5vh 7rem;
        width: 100vw;
        left: -7rem;
        position: relative;
    }

    #shopping h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    #character .hidden {
        display: block;
    }

    #products {
        width: 100%;
    }

    .product-card {
        width: 250px;
        height: 250px;
    }

    .product-card p {
        font-size: 1.2rem;
    }

    #store-link {
        position: relative;
        width: 20vw;
    }

    #store-link p:last-of-type {
        font-size: 1.5rem;
    }

    #films {
        left: -7rem;
        padding: 7rem;
    }

    .recommendation {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vh;
    }

    .recommendation:last-of-type {
        margin-bottom: 0;
    }

    .recommendation button {
        width: 30%;
        font-size: 2rem;
        margin: 0;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    #character {
        margin-left: 7rem;
        margin-right: 7rem;
        position: relative;
    }

    #character h1 {
        font-size: 3rem;
        margin-bottom: 10vh;
    }

    #character h1 span {
        font-size: 4.5rem;
        padding-left: 1rem;
    }

    #published-work {
        font-size: 2rem;
    }

    #published-work p {
        margin-bottom: 3rem;
    }

    #from {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #title-img {
        width: 50vw;
        position: absolute;
        right: -500px;
        top: 0px;
        height: 100vh;
        object-fit: cover;
        z-index: -999;
    }

    .hidden-rec {
        display: block;
    }

    .rec {
        font-style: normal;
        font-size: 1.5rem;
    }

    .rec a {
        font-style: italic;
    }

    #shopping {
        margin-top: 25vh;
        padding-bottom: 5vh;
        padding: 5vh 7rem;
        width: 100vw;
        left: -7rem;
        position: relative;
    }

    #shopping h2 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    #character .hidden {
        display: block;
    }

    #products {
        width: 100%;
    }

    .product-card {
        width: 250px;
        height: 250px;
    }

    .product-card p {
        font-size: 1.2rem;
    }

    #store-link {
        position: relative;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #store-link p:last-of-type {
        font-size: 1.5rem;
    }

    #store-link .star {
        height: 50%;
        position: relative;
    }

    #films {
        left: -7rem;
        padding: 7rem;
    }

    .recommendation {
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5vh;
    }

    .recommendation:last-of-type {
        margin-bottom: 0;
    }

    .recommendation button {
        width: 30%;
        font-size: 2rem;
        margin: 0;
    }
}