/* Desktop */
@media (min-width: 1280px) {
    .ad {
        position: fixed;
        top: 100px;
        margin: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 10rem;
        align-items: center;
        z-index: 4;
        border-radius: 0;
    }

    .ad button {
        margin: 0;
        width: 10px;
    }
}