/* Tablet */
@media (orientation: portrait) and (min-width: 666px) {
    .ad {
        position: fixed;
        top: 150px;
        margin: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: center;
    }

    .ad button {
        margin: 0;
        width: 20vw;
    }

    .ad div {
        width: 40vw;
    }
}