/* Tablets Landscape */
@media (orientation: landscape) and (min-width: 768px) {
    footer {
        padding: 1rem 4rem;
        font-size: 1rem;
    }

    #footer-links {
        width: 100%;
        display: flex;
        align-items: space-between;
        justify-content: space-between;
    }
}