#not-found {

    margin: 0 7rem;
}

#not-found h1 {
margin-top: 2rem;
}

#not-found h1 span {
    font-family: "Castoro Titling", serif;
}

#not-found #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    font-size: 2rem;
}

#not-found #content p {
    margin-bottom: 5rem;
}

#not-found #content a {
    font-style: italic;
    text-decoration: underline;
}