/* Horizontal Landscape */
@media (orientation: landscape) and (min-width: 568px) {
    #reach-out {
        margin: 5vh 15vw 0 15vw;
        text-align: center;
        width: 70vw;
    }

    #reach-out .background-video {
        width: 100%;
        scale: 1.2;
        height: auto;
    }

    #background-video-container {
        width: 100%;
        overflow: visible;
        margin: 15vh 0 0;
    }

    #reach-out h1 {
        font-size: 2rem;
    }

    #email_text {
        margin: 0;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #email_text span {
        font-weight: bold;
    }

    #reach-out form {
        display: flex;
        flex-direction: column;
        width: 70vw;
        align-items: center;
        justify-content: center;
    }

    .social_media_text {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    #reach-out form input,
    textarea {
        width: 70vw;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
    }

    #reach-out form textarea {
        height: 300px;
    }

    #reach-out form div label {
        width: 200px;
        margin-right: 2rem;
        text-align: start;
    }

    #reach-out form {
        display: flex;
        justify-content: space-between;
        height: 450px;
    }

    #reach-out form div {
        display: flex;
        flex-direction: column;
    }

    #submit-button {
        width: 100px;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    #reach-out .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        margin: 10vh 10vw 0;
    }

    #reach-out .socials ul {
        padding-bottom: 5vh;
        width: 100%;
    }

    #reach-out .socials div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    #reach-out .socials ul li {
        font-size: 1.2rem;
        margin: 2rem 0;
    }
}