/* Desktop */
@media (min-width: 1280px) {
    #reach-out {
        margin-top: 15vh;
        text-align: center;
    }

    #reach-out .background-video {
        width: 100%;
        scale: 1.1;
    }

    #background-video-container {
        width: 60vw;
        overflow: hidden;
        margin: 0;
        margin-left: 5vw;
    }

    #reach-out h1 {
        font-size: 3rem;
    }

    #email_text {
        margin: 10vh 0;
        font-size: 1.8rem;
        line-height: 40px;
    }

    #email_text span {
        font-weight: bold;
    }

    #reach-out form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .social_media_text {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    #reach-out form input textarea {
        width: 40vw;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
    }

    #reach-out form textarea {
        height: 300px;
    }

    #reach-out form div label {
        width: 200px;
        margin-right: 2rem;
        text-align: start;
    }

    #reach-out form {
        display: flex;
        justify-content: space-between;
        height: 450px;
    }

    #reach-out form div {
        display: flex;
        flex-direction: column;
    }

    #submit-button {
        width: 100px;
        height: 2rem;
        border-radius: 10px;
        padding: 1rem;
        display: inline-flex;
        align-items: center;
        text-align: center;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
        padding-bottom: 5vh;
    }

    .socials ul li {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
}