#reach-out {
    margin: 15vh 15vw 0 15vw;
    text-align: center;
    width: 70vw;
}

#reach-out .background-video {
    width: 100%;
    scale: 2.2;
    height: auto;
}

#background-video-container {
    width: 100%;
    overflow: visible;
    margin: 25vh 0 15vh;
}
#reach-out h1 {
    font-size: 2rem;
}

#email_text {
    margin: 2rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
}

#email_text span {
    font-weight: bold;
}

#reach-out form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

.social_media_text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#reach-out form input,
textarea {
    width: 70vw;
    height: 2rem;
    border-radius: 10px;
    padding: 1rem;
}

#reach-out form textarea {
    height: 300px;
}

#reach-out form div label {
    width: 200px;
    margin-right: 2rem;
    text-align: start;
}

#reach-out form {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

#reach-out form div{
    display: flex;
    flex-direction: column;
}

#submit-button {
    width: 100px;
    height: 2rem;
    border-radius: 10px;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

#reach-out .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

#reach-out .socials ul {
    padding-bottom: 5vh;
    width: 100%;
}

#reach-out .socials div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#reach-out .socials ul li {
    font-size: 1.2rem;
    margin: 2rem 0;
}