:root {
  --color-dark-blue: #0c112a;
  --color-rosa: #F4D6DC;
  --color-green: #BFD2B9;
  --color-beige: #dddcbb;
  --color-grey: #fce365;
  --color-yellow: #e7d680;
}

/* Horizontal Mobile */
@media (orientation: landscape) and (min-width: 568px) {}

/* Tablets */
@media (orientation: portrait) and (min-width: 666px) {}

/* Tablets Horizontal */
@media (orientation: landscape) and (min-width: 1024px) {}

/* Desktop */
@media (min-width: 1280px) {}

/* TV */
@media (min-width: 1600px) {}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  color: var(--color-beige);
  font-family: "Lora", serif;
  background-color: var(--color-dark-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-beige);
}